structure.txt
__pycache__/
.env

.venv

.idea

app.log
logs/
*.log

/src/my-package.egg-info/
/src/my_package.egg-info/PKG-INFO
/src/my_package.egg-info/top_level.txt
/src/my_package.egg-info/dependency_links.txt
/src/my_package.egg-info/SOURCES.txt
