{% extends "base.html" %}

{% block title %}Match score {{ uuid|default('Unknown match') }}{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="image left-image">
            <img src="/static/images/match_score_left.jpeg" alt="Tennis image left">
        </div>

        <div class="container">
            <h1>
                Match between
                {{ player1|default('Player 1') }} and
                {{ player2|default('Player 2') }}
            </h1>
            <div class="scoreboard">
                <h2>Current score:</h2>
                {% if not finished %}
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                {% endif %}
                <div class="scoreboard-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Player</th>
                            <th>Sets</th>
                            <th>Games</th>
                            <th>Points</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ player_row(player1, player1_sets, player1_games, player1_points, '1', current_game_state) }}
                        {{ player_row(player2, player2_sets, player2_games, player2_points, '2', current_game_state) }}
                        </tbody>
                    </table>

                </div>
                {% if not finished %}
                    </form>
                {% endif %}
            </div>

        </div>
        <div class="image right-image">
            <img src="/static/images/match_score_right.jpeg" alt="Tennis image right">
        </div>

    </div>
{% endblock %}


{% macro player_row(player, sets, games, points, player_num, current_game_state) %}
    <tr>
        <td>{{ player|default('N/A') }}</td>
        <td>{{ sets|default('N/A') }}</td>
        <td>{{ games|default('N/A') }}</td>
        <td>
            {% if current_game_state == 'advantage_' + player_num %}
                A
            {% elif current_game_state == 'tie_break' %}
                {{ points|default(666)|tie_break_points }}
            {% else %}
                {{ points|default(666)|tennis_points }}
            {% endif %}
        </td>
        <td>
            {% if not finished %}
                <div class="score-buttons">
                    <button type="submit" name="player{{ player_num }}_point" value="1" class="btn player{{ player_num }}">
                        {{ player|default('N/A') }} won a point
                    </button>
                </div>
            {% endif %}
        </td>
    </tr>
{% endmacro %}