{% extends "base.html" %}

{% block title %}Match score {{ uuid|default('Unknown match') }}{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="image left-image">
            <img src="/static/images/match_score_left.jpeg" alt="Tennis image left">
        </div>

        <div class="container">
            <h1>
                Match between
                {{ player1|default('Player 1') }} and
                {{ player2|default('Player 2') }}
            </h1>
            <div class="scoreboard">
                <h2>Current score:</h2>
                {% if not finished %}
                <form method="POST" enctype="application/x-www-form-urlencoded">
                {% endif %}
                    <div class="scoreboard-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Sets</th>
                                    <th>Games</th>
                                    <th>Points</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ player1|default('Player 1') }}</td>
                                    <td>{{ player1_sets|default(666) }}</td>
                                    <td>{{ player1_games|default(666) }}</td>
                                    <td>
                                        {% if current_game_state == 'advantage_1' %}
                                            A
                                        {% elif current_game_state == 'tie_break'%}
                                            {{ player1_points|default(666)|tie_break_points }}
                                        {% else %}
                                            {{ player1_points|default(666)|tennis_points }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not finished %}
                                        <div class="score-buttons">
                                            <button type="submit" name="player1_point" value="1" class="btn player1">
                                                {{ player1|default('Player 1') }} won a point
                                            </button>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ player2|default('Player 2') }}</td>
                                    <td>{{ player2_sets|default(666) }}</td>
                                    <td>{{ player2_games|default(666) }}</td>
                                    <td>
                                        {% if current_game_state == 'advantage_2' %}
                                            A
                                        {% elif current_game_state == 'tie_break'%}
                                            {{ player2_points|default(666)|tie_break_points }}
                                        {% else %}
                                            {{ player2_points|default(666)|tennis_points }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not finished %}
                                        <div class="score-buttons">
                                            <button type="submit" name="player2_point" value="1" class="btn player2">
                                                {{ player2|default('Player 2') }} won a point
                                            </button>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                {% if not finished %}
                </form>
                {% endif %}
            </div>

        </div>
        <div class="image right-image">
            <img src="/static/images/match_score_right.jpeg" alt="Tennis image right">
        </div>

    </div>
{% endblock %}